<div class="wrapper">
  <div id="map"></div>
  <pickup 
    [map]="map" 
    [isPinSet]="isMapIdle"
    [isPickupRequested]="isPickupRequested"
    [destination]="destination"
    (updatedPickupLocation)="updatePickupLocation($event)">
  </pickup>
  <available-cars
    [map]="map"
    [isPickupRequested]="isPickupRequested">
  </available-cars>
  <pickup-car
    [map]="map"
    [isPickupRequested]="isPickupRequested"
    [pickupLocation]="currentLocation"
    [destination]="destination">
  </pickup-car>
</div>